* text=auto !eol
external/redirfs/.svnignore -text
external/redirfs/CHANGELOG -text
external/redirfs/COPYING -text
external/redirfs/INSTALL -text
external/redirfs/Makefile -text
external/redirfs/README -text
external/redirfs/TODO -text
external/redirfs/redirfs.h -text
external/redirfs/rfs.c -text
external/redirfs/rfs.h -text
external/redirfs/rfs_chain.c -text
external/redirfs/rfs_data.c -text
external/redirfs/rfs_dcache.c -text
external/redirfs/rfs_dentry.c -text
external/redirfs/rfs_file.c -text
external/redirfs/rfs_flt.c -text
external/redirfs/rfs_info.c -text
external/redirfs/rfs_inode.c -text
external/redirfs/rfs_ops.c -text
external/redirfs/rfs_path.c -text
external/redirfs/rfs_root.c -text
external/redirfs/rfs_sysfs.c -text
modules/filesystem/include/fs-plugin.h -text
modules/filesystem/linux/LICENSE -text
modules/filesystem/linux/Makefile -text
modules/filesystem/linux/flt/.svnignore -text
modules/filesystem/linux/flt/Makefile -text
modules/filesystem/linux/flt/callback.c -text
modules/filesystem/linux/flt/comm.c -text
modules/filesystem/linux/flt/context.c -text
modules/filesystem/linux/flt/d14flt.h -text
modules/filesystem/linux/flt/data.c -text
modules/filesystem/linux/flt/event.c -text
modules/filesystem/linux/flt/filter.c -text
modules/filesystem/linux/flt/message.c -text
modules/filesystem/linux/flt/module.c -text
modules/filesystem/linux/flt/trace.h -text
modules/filesystem/linux/include/comm.h -text
modules/filesystem/linux/usr/Makefile -text
modules/filesystem/linux/usr/d14usr.c -text
modules/filesystem/linux/usr/d14usr.h -text
