* text=auto !eol
core/include/message.h -text
modules/filesystem/db/schema.sql -text
modules/filesystem/include/internal.h -text
modules/filesystem/include/plugin.h -text
modules/filesystem/linux/LICENSE -text
modules/filesystem/linux/Makefile -text
modules/filesystem/linux/flt/.svnignore -text
modules/filesystem/linux/flt/Makefile -text
modules/filesystem/linux/flt/callback.c -text
modules/filesystem/linux/flt/comm.c -text
modules/filesystem/linux/flt/context.c -text
modules/filesystem/linux/flt/d14flt.h -text
modules/filesystem/linux/flt/data.c -text
modules/filesystem/linux/flt/event.c -text
modules/filesystem/linux/flt/filter.c -text
modules/filesystem/linux/flt/message.c -text
modules/filesystem/linux/flt/module.c -text
modules/filesystem/linux/flt/trace.h -text
modules/filesystem/linux/include/comm.h -text
modules/filesystem/linux/usr/Makefile -text
modules/filesystem/linux/usr/convert.c -text
modules/filesystem/linux/usr/d14usr.c -text
modules/filesystem/linux/usr/d14usr.h -text
modules/filesystem/linux/usr/device.c -text
modules/filesystem/windows/d14flt.inf -text
modules/filesystem/windows/dirs -text
modules/filesystem/windows/flt/callback.c -text
modules/filesystem/windows/flt/comm.c -text
modules/filesystem/windows/flt/context.c -text
modules/filesystem/windows/flt/d14flt.h -text
modules/filesystem/windows/flt/d14flt.rc -text
modules/filesystem/windows/flt/event.c -text
modules/filesystem/windows/flt/filter.c -text
modules/filesystem/windows/flt/makefile -text
modules/filesystem/windows/flt/message.c -text
modules/filesystem/windows/flt/module.c -text
modules/filesystem/windows/flt/sources -text
modules/filesystem/windows/flt/trace.h -text
modules/filesystem/windows/include/comm.h -text
modules/filesystem/windows/usr/d14usr.c -text
modules/filesystem/windows/usr/d14usr.h -text
modules/filesystem/windows/usr/makefile -text
modules/filesystem/windows/usr/sources -text
